VITE_META_ACCESS_TOKEN=
VITE_META_APP_ID=
VITE_META_GRAPH_BASE_URL=https://graph.facebook.com
VITE_META_GRAPH_API_VERSION=v20.0
VITE_META_DEFAULT_PAGE_SIZE=100
VITE_META_GLOBAL_REACHED_COUNTRIES=US,CA,MX,CO,AR,CL,PE,EC,UY,PY,BO,VE,BR,ES,PT,FR,DE,IT,NL,BE,CH,AT,IE,GB,SE,NO,DK,FI,PL,CZ,RO,HU,GR,TR,AU,NZ,JP,KR,IN,ID,PH,TH,VN,MY,SG,HK,TW,AE,SA,IL,EG,MA,ZA,NG,KE